.timeLineBar {
  width: 100px;
  height: 24px;
  position: relative;
  left: 90%;
  background: rgba(28, 28, 28, 0.5);
  color: rgb(105, 105, 105);
  font-weight: 400;
  font-size: 14px;
}

.audio {
  display: none;
}

.regErrors {
  color: red;
}
